[mysqld]

#skip-ssl

server-id = 3
port = 3306

binlog_format = ROW

gtid_mode=ON
enforce-gtid-consistency = true

log-slave-updates
log_bin = mysql-bin
expire-logs-days = 2

default_storage_engine = InnoDB
innodb_file_format = Barracuda

# replication

report-host = mysql_node03
master-info-repository = TABLE
relay-log-info-repository = TABLE
slave_net_timeout = 60

skip-slave-start
read_only

transaction_isolation = 'READ-COMMITTED'

binlog_checksum = NONE
relay_log_info_repository = TABLE
transaction_write_set_extraction = XXHASH64

auto_increment_increment = 1
auto_increment_offset = 2
